<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:remove="all">Template for HTML email for Forgot Password</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Hello, <span th:text="${name}">EK</span>!
	</p>

	<p>
		You asked to create a new password for your APPLICATION account.
		If it was <b>not you</b>, please notify your APPLICATION administrator and disregard this email.
	</p>

	<p>
		Click <a th:href="${resetPasswordLink}">here</a> to create a new password
		or copy and paste this URL to browser <span th:text="${resetPasswordLink}"></span>
	</p>

	<p>
		Regards, <br />
		<em>The APPLICATION Team</em>
	</p>
</body>
</html>
